.card {
  width: 265px;
  margin: auto;
  font-size: 0.8rem;

  img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
  }
  a {
    color: #333;
  }
  p {
    font-size: 0.75rem;
  }
  .date-color {
    color: #bababa;
  }
}
.addToCart {
  background: #fa9e0d;
  border-top-left-radius: 15px;
  img {
    width: 5rem;
    height: 4rem;
  }
}
